 <h2 class="display-3">Welcome to the IFS Trainer Scheduler</h2> 

<div *ngIf ="info.token; else loggedOut">
    <h5 class="text-primary">Your Information</h5>
    <p>
        <strong>Username:</strong>{{info.username}}<br/>
        <strong>Roles:</strong>{{info.authorities}}<br/>
        <strong>Token:</strong>{{info.token}}
    </p>

    <button class="btn btn-secondary" (click)="logout()">Logout</button>
</div>


<ng-template #loggedOut>
  

    <!-- <img src="/assets/image2.jpg" alt="..." class="img-thumbnail"> -->
    <img src="/assets/ifsimage1.png" alt="..." class="img-thumbnail">

    <hr>
    <br>
    <h5> User is logged Out Please Log In </h5>
</ng-template>